@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string page = "0";
    if (ViewData["Page"] != null) if (ViewData["Page"].ToString() != "") page = ViewData["Page"].ToString();
}
@model EntityFramework.API.Entities.EntityBase.BaseEntityList<EntityFramework.API.Entities.Movies>
@if(ViewData["Login"] != null)
{
    if(ViewData["Login"].ToString() != "")
    {
        <span style="color:red; font-weight:bold">@ViewData["Login"]</span>
    }
}
@if(Model != null)
{
   if(Model.list != null)
{
    <table>
        <tr><td colspan="2">
                    @if(page == "0")
                    {
                        <a href="/Home"><b>List of publish video </b></a>
                    }
                    else
                    {
                        <a href="/Home">List of publish video </a>
                    }
                    
                @if(ViewData["Logined"] != null)
                {
                    <span> | </span>
                    @if(page == "1")
                    {
                        <a href="/Home/MyVideo"><b>My video</b></a> 
                    }
                    else
                    {
                        <a href="/Home/MyVideo">My video</a> 
                    }                    
                    <span> | </span>
                    @if(page == "2")
                    {
                        <a href="/Home/ShareVideo"><b>Share to me</b></a>
                    }
                    else
                    {
                        <a href="/Home/ShareVideo">Share to me</a>
                    }                    
                    <span> | </span>
                    @if(page == "3")
                    {
                        <a href="/Home/Share"><b>Share</b></a>
                    }
                    else
                    {
                        <a href="/Home/Share">Share</a>
                    }
                    
                }
            </td></tr>
        @foreach(var item in Model.list)
        {
        <tr>
            <td valign="top">
                <iframe width="200" height="100" src="@item.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td valign="top">
                <table>
                    <tr>
                        <td>@item.Title</td>
                    </tr>
                    <tr>
                        <td>Share by: @item.UserCreator/ @item.EmailCreator</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td>@item.Description</td>
                    </tr>
                </table>
            </td>
        </tr>
        }  
        <tr>
            <td align="center" colspan="2">
                @if(Model.Page > 1 && Model.TotalRecords > 1)
                {
                    <a action="Index" asp-route-page="@Model.Page - 1">Back</a>
                }
                @if(Model.Page * Model.PageSize < Model.TotalRecords)
                {
                   <a action="Index" asp-route-page="@Model.Page + 1">Next</a>
                }
            </td>
        </tr>
    </table>
} 
}

